{% extends 'base.html' %}

{% load static %}
{% block tittle%}<title>Details</title>{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<img src="{{ album.album_logo }}">
<h1>{{ album.album_logo }}</h1>
<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if errror_message %}
    <p>{{ error_message }}</p>
{% endif %}

<form action="{% url 'favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
    <input type="radio", id="song{{ forloop.counter}}", name="song", value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" />
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit", value="Favorite">
</form>

{% endblock content %}
